* {
    margin: none;
}
body{
    background-color: blue;
    color:white;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

.input{
    font-size: 30px;
    font-weight: 1px;
    font-family: 'Times New Roman', Times, serif;
    /* width: 1000px; */
}

.output{
    font-size: 30px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.input-text{
    width: 700px;
    height: 400px;
    color:white;
    background-color: blue;
    border: 3px solid rgb(60,60,60); 
    border-radius: 2%;
    padding:20px;
    font-size: 20px;
    font-weight: lighter;

}

.output-text{
    width: 600px;
    height: 500px;
    color:white;
    padding:20px;
    border-radius: 2%; 
    box-shadow: 3px 3px 8px rgb(50, 56, 56); 
    background-color: rgb(85, 82, 82);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}
